@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

/* Base styles */
html {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: theme('colors.background');
  color: theme('colors.main-text');
} 